.box {
    padding: 20px;              /* 余白指定 */
    height: 150px;              /* 高さ指定 */
    text-align:  center;      
}

.box-item {
    width: 500px;
    display: inline-block;      /* インラインブロックにする */
}